body {
    text-align: center;
    background: linear-gradient(#11BABA 0%, #00FAFA 100%);
    font-family: 'Zen Antique Soft', serif;
}

.html1 {
    font-family: 'Henny Penny', cursive;
}

.html2 {
    font-family: 'Lobster Two', cursive;
}

.html3 {
    width: 300px;
}

.html4 {
    font-family: 'Fredoka One', cursive;
    margin: 30px;
    font-size: 20px;
}
.menu{
     list-style:none;
}
.haml{
    background-color: aqua;
    height: 260px;
    font-size: 20px;
}
.common{
    margin:20px;
}